$header-photo-width: 640px;
$header-photo-width-small: $header-photo-width * 0.8;
$header-photo-width-smaller: $header-photo-width * 0.6;
$header-photo-width-smallest: $header-photo-width * 0.45;

$blue-color: #56CCF2;
$yellow-color: #FCC304;
$heading-color: #253757;
$text-color: #334563;
